#main.container
  .title.text-center
    %h1
      Title
    %span.info
      book:
      %a{:href => "#"} book
      author:
      %a{:href => "#"} author
      words:
      %span 123
  .content
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, iure, facilis obcaecati assumenda reprehenderit dolore ad optio dolor magni perspiciatis maxime provident eius ratione neque ipsam delectus id non error.
