<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css" media="screen">
    <title>My page</title>  
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
         <div class="container">
           <a id="logo" href="#">Simple Reader</a> 
         </div>
      </div>
    </div>
    <div class="container" id="main">
      <div class="title text-center">
        <h1>
          Title
        </h1>
        <span class="info">
          book:
          <a href="#">book</a>
          author:
          <a href="#">author</a>
          words:
          <span>123</span>
        </span>
      </div>
      <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, iure, facilis obcaecati assumenda reprehenderit dolore ad optio dolor magni perspiciatis maxime provident eius ratione neque ipsam delectus id non error.
      </div>
    </div>
  </body>
</html>
